<section id="about" class="text-center">
  <div class="container">
    <app-vertical-line />
    <div class="about-info max-w-500 mx-auto">
      <h5 class="fw-medium fs-24">
        We are the one of the most effective Web Development Companies
      </h5>
      <p class="my-4 fs-12 text-muted">
        Getting online is easy. Succeeding online is a different story. You’ll
        need more than just a beautiful website to stand out these days.
        <span class="fw-medium text-dark">Online marketing solutions.</span>
        Conversion-based web design coupled with a lead generating marketing
        plan, your online success is inevitable.
      </p>
    </div>
    <app-vertical-line />
    <div class="my-4">
      <app-btn-primary
        [textColor]="'#000'"
        [textColorHover]="'#fff'"
        [bgColor]="'#ffffff00'"
        [bgColorHover]="'#ff497c'"
        [borderColor]="'#ff497c'"
      ></app-btn-primary>
    </div>
    <app-vertical-line />
    <div class="about-contant">
      <div class="row">
        <div class="row px-lg-5">
          @for (item of aboutItems; track $index) {
          <div class="col-lg-4 col-md-6 ps-lg-5 py-3">
            <figure>
              <img [src]="item.src" [alt]="item.title" class="max-w-100" />
              <figcaption>
                <h6 class="my-2 fs-16">{{ item.title }}</h6>
                <p class="text-muted fs-12 max-w-300 mx-auto">
                  {{ item.desc }}
                </p>
              </figcaption>
            </figure>
          </div>
          }
        </div>
      </div>
    </div>
    <app-vertical-line />
  </div>
</section>
