<section id="about" class="text-center">
  <div class="container">
    <app-text-block-with-line
      [title]="'We are one of the most effective Web Development Companies'"
      [description]="
        'Getting online is easy. Succeeding online is a different story. You’ll need more than just a beautiful website to stand out these days. <span class=\'fw-medium text-dark\'>Online marketing solutions.</span> Conversion-based web design coupled with a lead generating marketing plan, your online success is inevitable.'
      "
    >
    </app-text-block-with-line>
    <div class="about-contant">
      <div class="row">
        <div class="row g-2">
          @for (item of aboutItems; track $index) {
          <div class="col-lg-4 col-md-6 py-3">
            <figure>
              <img [src]="item.src" [alt]="item.title" class="max-w-100" />
              <figcaption>
                <h6 class="my-2 fs-16">{{ item.title }}</h6>
                <p class="text-muted fs-12 max-w-300 mx-auto">
                  {{ item.desc }}
                </p>
              </figcaption>
            </figure>
          </div>
          }
        </div>
      </div>
    </div>
    <app-vertical-line />
  </div>
</section>
