.page_copyright {
  background-image: url("/images/copyright_bg.jpg");
  background-size: cover;
  padding-block: 1px 1px;
  text-align: center;
  color: var(--color-white);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
