.corner {
  position: relative;
}

.corner::before {
  background-color: var(--bgColor);
  bottom: -2.1875rem;
  content: "";
  height: 70px;
  left: 0;
  position: absolute;
  transform: skewY(3deg);
  width: 50%;
  z-index: 4;
}

.corner::after {
  background-color: var(--bgColor);
  bottom: -2.1875rem;
  content: "";
  height: 70px;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  width: 50%;
  z-index: 4;
}
