<footer>
  <div class="footer">
    <a class="logo rounded-circle">
      <img src="images/logo.webp" alt="logo" width="25" />
    </a>
    <app-cornerbotton [bgColor]="'var(--color-bg)'"></app-cornerbotton>
    <div class="footer-contant">
      <h3 class="text-white">Digital <span class="fw-light">Bond</span></h3>
      <ul
        class="text-white list-unstyled d-flex justify-content-center align-items-center my-3"
      >
        <li>
          <a
            href="https://www.facebook.com/DigitalBondMena/"
            target="_blank"
            title="facebook"
            class="fa fa-facebook color-icon"
          >
            <img
              src="logos/facebook-svgrepo-com.svg"
              alt="facebook"
              width="16"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/digital-bond/"
            target="_blank"
            title="linkedin"
            class="fa fa-linkedin color-icon"
          >
            <img
              src="logos/linkedin-social-media-svgrepo-com.svg"
              alt="linkedin"
              width="16"
            />
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=1601021651322&text="
            target="_blank"
            title="whatsapp"
            class="fa fa-whatsapp color-icon"
          >
            <img
              src="logos/whatsapp-whats-app-svgrepo-com.svg"
              alt="whatsapp"
              width="16"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.tiktok.com/@digitalbondmena"
            target="_blank"
            title="tiktok"
            class="fa fa-tiktok color-icon"
          >
            <img src="logos/tiktok-svgrepo-com.svg" alt="tiktok" width="16" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/digitalbondmena/"
            target="_blank"
            title="instagram"
            class="fa fa-instagram color-icon"
          >
            <img
              src="logos/instagram-color-svgrepo-com.svg"
              alt="instagram"
              width="16"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
