.reviews {
  background-image: url("/images/texture_dark.jpg");
  background-size: cover;
  /* margin: auto; */
  text-align: center;
  position: relative;
}
figure img {
  height: 200px;
  width: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 9px;
}
figure figcaption span {
  color: var(--color-primary);
}

.topbtn {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--color-primary);
  border: 0.15rem solid var(--color-primary);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -0%);
  border-radius: 50%;
  cursor: pointer;
}
