/* You can add global styles to this file, and also import other style files */
/* ===== Base Styles ===== */
:root {
  /* Colors */
  --color-primary: #ff497c;
  --color-bg: #f4f4f5;
  --color-white: #fff;
  --color-dark: #1f2732;
  --web-color: #a0ce4e;
  --marketing-color: #00bea3;
  --branding-color: #f1894c;

  /* Font */
  --font-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Radius & Shadow */
  --radius: 12px;
  --shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

html {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}

body {
  background-color: var(--color-white);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer !important;
  display: inline-block;
}

img {
  vertical-align: middle;
}
/* ===== Typography ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dark);
}

.max-w-500 {
  max-width: 600px;
}

.max-w-400 {
  max-width: 400px;
}

.max-w-300 {
  max-width: 300px;
}

.max-w-100 {
  max-width: 100px;
}

.fs-12 {
  font-size: 14.4px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 24px;
}

.mt-16 {
  margin-top: 60px;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  html {
    font-size: 8px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 475.98px) {
  html {
    font-size: 7px;
  }
}
